<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
  <title>WeCare | Palliative </title>


    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{{url_for('static',filename='plugins/slick/slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='plugins/slick/slick-theme.css')}}">
    <!-- FancyBox -->
    <link rel="stylesheet" href="{{url_for('static',filename='plugins/fancybox/jquery.fancybox.min.css')}}">


    <!-- Stylesheets -->
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>


<body>
    <style>
        .dropdown {
            display: inline-block;
            position: relative;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            width: 200%;
            overflow: auto;
            z-index: 9999;
            background: black;
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .dropdown-content a {
            display: block;
            color: #000000;
            padding: 5px;
            text-decoration: none;
        }
        
        .dropdown-content a:hover {
            color: #FFFFFF;
            background-color: #00A4BD;
        }
    </style>
    <div class="page-wrapper">
        

        <!--Header Upper-->
        <section class="header-uper">
            <div class="container clearfix">
                <div class="logo">
                    <figure>
                        <a href="#">
                            <img src="static/images/logo.png" alt="" width="130">
                        </a>
                    </figure>
                </div>
                <div class="right-side">
                    
                    <div class="link-btn">
                        <a href="/logout" class="btn-style-one">Logout &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!--Header Upper-->


        <!--Main Header-->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/admin">Home</a>
                        </li>

                        <li>
                            <div class="dropdown">
                                <button style="border: none;background: transparent;color: white;margin: 21px 0px;">Add Functions</button>
                                <div class="dropdown-content">
                                    <a href="/admin_add_hospital">Add Hospital</a>
                                    <a href="/admin_volunteers_reg">Add Volunteer</a>
                                    <a href="/admin_add_notification">Add Notification</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button style="border: none;background: transparent;color: white;margin: 21px 0px;">View Functions</button>
                                <div class="dropdown-content">
                                    <a href="/admin_view_hospital"> Hospital</a>
                                    <a href="/admin_view_volunteer"> Volunteer</a>
                                    <a href="/admin_view_donor"> Donor</a>
                                    <a href="/admin_view_patient"> User</a>
                                    <a href="/admin_view_needy_request"> Needy Request</a>
                                    <a href="/admin_view_accepted_needy_request"> Accepted Needy Request</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/admin_view_blood_request"> Blood request</a>
                        </li>
                        <li>
                            <a href="/admin_view_complaint_against_doctor">Complaints</a>
                        </li>
                        <li>
                            <a href="/admin_view_feedback">Feedback</a>
                        </li>


                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!--End Main Header -->

        <!--=================================
=            Page Slider            =
==================================-->
        <!--====  End of Page Slider  ====-->



        <!-- Contact Section -->
        <section class="appoinment-section section">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="contact-area">
                            <div class="section-title">
                                <h3>View
                                    <span>Donar</span>
                                </h3>
                            </div>
                        </div>

                        <div class="row">

                            <div class="mt-5" style="margin: 14px 0;">
                                <table class="table table-bordered ">
                                    <thead>
                                        <tr style="background-color: azure;">
                                            <th scope="col">Image</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone</th>

                                            <th scope="col">Dob</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">Blood</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">City</th>
                                            <th scope="col">District</th>
                                            <th scope="col">Pincode</th>
                                            <th scope="col">Other Phone</th>


                                            <th colspan="3">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for row in row%}
                                            <td><img src="/static/upload/{{row[14]}}" alt="" width="50"></td>
                                            <td>{{row[3]}}</td>
                                            <td>{{row[4]}}</td>
                                            <td>{{row[5]}}</td>
                                            <td>{{row[6]}}</td>
                                            <td>{{row[7]}}</td>
                                            <td>{{row[8]}}</td>
                                            <td>{{row[9]}}</td>
                                            <td>{{row[10]}}</td>
                                            <td>{{row[11]}}</td>
                                            <td>{{row[12]}}</td>
                                            <td>{{row[13]}}</td>

                                            <form action="/admin_delete_donor" method="POST">
                                                <td style=" display: flex;    height: 66px;">
                                                    <!-- <button class="badge badge-success" style="background: chartreuse;"><i class="fa fa-edit"></i></button> -->
                                                    <button class="badge badge-success" style="background: rgb(161 33 31);height: 34px;border: none;" value="{{row[2]}} {{row[0]}}" name="delete_by_id">Delete</button>

                                                </td>
                                            </form>
                                         
                                        </tr>
                                        {%endfor%}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Section -->

        <!--footer-main-->
        <footer class="footer-main">

            <div class="footer-bottom">
                <div class="container clearfix">
                    <div class="copyright-text">
                        <p>&copy; Copyright 2018. All Rights Reserved by
                            <a href="#">Medic</a>
                        </p>
                    </div>
                    <ul class="footer-bottom-link">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!--End footer-main-->

    </div>
    <!--End pagewrapper-->


    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".header-top">
        <span class="icon fa fa-angle-up"></span>
    </div>

    <script src="{{url_for('static',filename='plugins/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='plugins/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='plugins/bootstrap-select.min.js')}}"></script>
    <!-- Slick Slider -->
    <script src="{{url_for('static',filename='plugins/slick/slick.min.js')}}"></script>
    <!-- FancyBox -->
    <script src="{{url_for('static',filename='plugins/fancybox/jquery.fancybox.min.js')}}"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script src="{{url_for('static',filename='plugins/google-map/gmap.js')}}"></script>

    <script src="{{url_for('static',filename='plugins/validate.js')}}"></script>
    <script src="{{url_for('static',filename='plugins/wow.js')}}"></script>
    <script src="{{url_for('static',filename='plugins/jquery-ui.js')}}"></script>
    <script src="{{url_for('static',filename='plugins/timePicker.js')}}"></script>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>

</body>

</html>