<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
  <title>WeCare | Palliative </title>


    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{{url_for('static',filename='plugins/slick/slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='plugins/slick/slick-theme.css')}}">
    <!-- FancyBox -->
    <link rel="stylesheet" href="{{url_for('static',filename='plugins/fancybox/jquery.fancybox.min.css')}}">

    <!-- Stylesheets -->
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>


<body>
    <style>
        .dropdown {
            display: inline-block;
            position: relative;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            width: 200%;
            overflow: auto;
            z-index: 9999;
            background: black;
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .dropdown-content a {
            display: block;
            color: #000000;
            padding: 5px;
            text-decoration: none;
        }
        
        .dropdown-content a:hover {
            color: #FFFFFF;
            background-color: #00A4BD;
        }
    </style>
    <div class="page-wrapper">
        <!-- Preloader -->
        <!-- <div class="preloader"></div> -->
        <!-- Preloader -->



        <!--header top-->
        <div class="header-top">
            <div class="container clearfix">
                <div class="top-left">
                    <h6>Opening Hours : Saturday to Tuesday - 8am to 10pm</h6>
                </div>
                <div class="top-right">
                    <ul class="social-links">
                        <!-- <li>
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li> -->
                        <li>
                            <a href="/logout">
                                Logout <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--header top-->

        <!--Header Upper-->
        <section class="header-uper">
            <div class="container clearfix">
                <div class="logo">
                    <figure>
                        <a href="#">
                            <img src="static/images/logo.png" alt="" width="130">
                        </a>
                    </figure>
                </div>
                <div class="right-side">
                    <ul class="contact-info">
                        <li class="item">
                            <div class="icon-box">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <strong>Email</strong>
                            <br>
                            <a href="#">
                                <span>info@medic.com</span>
                            </a>
                        </li>
                        <li class="item">
                            <div class="icon-box">
                                <i class="fa fa-phone"></i>
                            </div>
                            <strong>Call Now</strong>
                            <br>
                            <span>+ (88017) - 123 - 4567</span>
                        </li>
                    </ul>
                    <div class="link-btn">
                        <a href="#" class="btn-style-one">Appoinment</a>
                    </div>
                </div>
            </div>
        </section>
        <!--Header Upper-->


        <!--Main Header-->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/donor">Home</a>
                        </li>

                        <li>
                            <div class="dropdown">
                                <button style="border: none;background: transparent;color: white;margin: 21px 0px;">Add Functions</button>
                                <div class="dropdown-content">
                                    <a href="/donor_add_donation">Add Donation</a>
                                    <!-- <a href="/">Add </a> -->

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button style="border: none;background: transparent;color: white;margin: 21px 0px;">View Functions</button>
                                <div class="dropdown-content">
                                    <a href="/donor_view_donation">View Donor</a>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="team.html">Team</a>
                        </li>
                        <li>
                            <a href="appointment.html">Appointment</a>
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#">Action</a>
                                    </li>
                                    <li>
                                          <a href="#">Another action</a>
                                    </li>
                                    <li>
                                          <a href="#">Something else here</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">Separated link</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">One more separated link</a>
                                    </li>
                              </ul>
                        </li> -->
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!--End Main Header -->

        <!--=================================
=            Page Slider            =
==================================-->

        <!--about section-->
        <section class="feature-section section bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="image-content">
                            <div class="section-title text-center">
                                <h3>Best Features
                                    <span>of Our Hospital</span>
                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam magni in at debitis <br> nam error officia vero tempora alias? Sunt?</p>
                            </div>
                            <div class="row">
                                {% for row in row%}
                                <div class="col-sm-6" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="/static/upload/{{row[4]}}" alt="" width="130">
                                                </a>
                                            </figure>
                                        </div><br><br> <br>
                                        <h6>{{row[2]}}</h6>
                                        <p>{{row[3]}}</p>
                                    </div>
                                    <form action="/donor_delete_donation" method="POST">
                                        <button class="btn" name="delete_by_id" style="position: absolute;
                                    bottom: 209px;
                                    right: 37px" value="{{row[0]}}"><i class="fa fa-trash-o" style="font-size:38px;color:red"></i></button>
                                    </form>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!--End about section-->



        <!--footer-main-->
        <footer class="footer-main">

            <div class="footer-bottom">
                <div class="container clearfix">
                    <div class="copyright-text">
                        <p>&copy; Copyright 2018. All Rights Reserved by
                            <a href="#">Medic</a>
                        </p>
                    </div>
                    <ul class="footer-bottom-link">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!--End footer-main-->

        </div>
        <!--End pagewrapper-->


        <!--Scroll to top-->
        <div class="scroll-to-top scroll-to-target" data-target=".header-top">
            <span class="icon fa fa-angle-up"></span>
        </div>

        <script src="{{url_for('static',filename='plugins/jquery.js')}}"></script>
        <script src="{{url_for('static',filename='plugins/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static',filename='plugins/bootstrap-select.min.js')}}"></script>
        <!-- Slick Slider -->
        <script src="{{url_for('static',filename='plugins/slick/slick.min.js')}}"></script>
        <!-- FancyBox -->
        <script src="{{url_for('static',filename='plugins/fancybox/jquery.fancybox.min.js')}}"></script>
        <!-- Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
        <script src="{{url_for('static',filename='plugins/google-map/gmap.js')}}"></script>

        <script src="{{url_for('static',filename='plugins/validate.js')}}"></script>
        <script src="{{url_for('static',filename='plugins/wow.js')}}"></script>
        <script src="{{url_for('static',filename='plugins/jquery-ui.js')}}"></script>
        <script src="{{url_for('static',filename='plugins/timePicker.js')}}"></script>
        <script src="{{url_for('static',filename='js/script.js')}}"></script>

</body>

</html>