<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
  <title>WeCare | Palliative </title>


    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{{url_for('static',filename='plugins/slick/slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='plugins/slick/slick-theme.css')}}">
    <!-- FancyBox -->
    <link rel="stylesheet" href="{{url_for('static',filename='plugins/fancybox/jquery.fancybox.min.css')}}">

    <!-- Stylesheets -->
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>


<body>
    <style>
        .dropdown {
            display: inline-block;
            position: relative;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            width: 200%;
            overflow: auto;
            z-index: 9999;
            background: black;
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .dropdown-content a {
            display: block;
            color: #000000;
            padding: 5px;
            text-decoration: none;
        }
        
        .dropdown-content a:hover {
            color: #FFFFFF;
            background-color: #00A4BD;
        }
    </style>
    <div class="page-wrapper">
        <!-- Preloader -->
        <!-- <div class="preloader"></div> -->
        <!-- Preloader -->



       

        <!--Header Upper-->
        <section class="header-uper">
            <div class="container clearfix">
                <div class="logo">
                    <figure>
                        <a href="#">
                            <img src="static/images/logo.png" alt="" width="130">
                        </a>
                    </figure>
                </div>
                <div class="right-side">
                    <ul class="contact-info">
                       
                        <li class="item">
                            <a href="/volunteer_view_blood_message" class="btn-style-one"><i class="fa fa-bell" aria-hidden="true" style="font-size: 22x;">
                                <sup style="color: brown ;"> {{row[0]}}</sup>
                            </i>
                                </a>
                        </li>
                    </ul>
                    <div class="link-btn">
                        <a href="/logout" class="btn-style-one">
                            Logout <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--Header Upper-->


        <!--Main Header-->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/volunteer">Home</a>
                        </li>

                        <!-- <li>
                            <div class="dropdown">
                                <button style="border: none;background: transparent;color: white;margin: 21px 0px;">View Functions</button>
                                <div class="dropdown-content">
                                    <a href="/volunteers_view_task">View DonAtion</a>



                                </div>
                            </div>
                        </li> -->
                        <li>
                            <a href="/volunteer_add_feedback">Add Feedback </a>
                        </li>
                        <li>
                            <a href="/volunteers_view_task">View Donation</a>

                        </li>

                        <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#">Action</a>
                                    </li>
                                    <li>
                                          <a href="#">Another action</a>
                                    </li>
                                    <li>
                                          <a href="#">Something else here</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">Separated link</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">One more separated link</a>
                                    </li>
                              </ul>
                        </li> -->
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!--End Main Header -->

        <!--=================================
=            Page Slider            =
==================================-->
        <div class="hero-slider">
            <!-- Slider Item -->
            <div class="slider-item slide1" style="background-image:url(static/images/slider/slider-bg-1.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start -->
                            <div class="content style text-center">
                                <h2 class="text-white text-bold mb-2">Our Best Surgeons</h2>
                                <p class="tag-text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sunt animi sequi ratione quod at earum. <br> Quis quos officiis numquam!</p>
                                <a href="#" class="btn btn-main btn-white">explore</a>
                            </div>
                            <!-- Slide Content End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="slider-item slide1" style="background-image:url(static/images/slider/slider-bg-1.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start -->
                            <div class="content style text-center">
                                <h2 class="text-white text-bold mb-2">Our Best Surgeons</h2>
                                <p class="tag-text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sunt animi sequi ratione quod at earum. <br> Quis quos officiis numquam!</p>
                                <a href="#" class="btn btn-main btn-white">explore</a>
                            </div>
                            <!-- Slide Content End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="slider-item" style="background-image:url(static/images/slider/slider-bg-3.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start -->
                            <div class="content text-center style">
                                <h2 class="text-white text-bold mb-2">Best Medical Services</h2>
                                <p class="tag-text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae deserunt,
                                    <br>eius pariatur minus itaque nostrum.</p>
                                <a href="shop.html" class="btn btn-main btn-white">shop now</a>
                            </div>
                            <!-- Slide Content End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--====  End of Page Slider  ====-->

        <section class="cta">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cta-block">
                            <div class="emmergency item">
                                <i class="fa fa-phone"></i>
                                <h2>Emegency Cases</h2>
                                <a href="#">1-800-700-6200</a>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="top-doctor item">
                                <i class="fa fa-stethoscope"></i>
                                <h2>24 Hour Service</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore dignissimos officia dicta suscipit vel eum</p>
                                <a href="#" class="btn btn-main">Read more</a>
                            </div>
                            <div class="working-time item">
                                <i class="fa fa-hourglass-o"></i>
                                <h2>Working Hours</h2>
                                <ul class="w-hours">
                                    <li>Mon - Fri - <span>8:00 - 17:00</span></li>
                                    <li>Mon - Fri - <span>8:00 - 17:00</span></li>
                                    <li>Mon - Fri - <span>8:00 - 17:00</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--about section-->
        <section class="feature-section section bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="image-content">
                            <div class="section-title text-center">
                                <h3>Best Features
                                    <span>of Our Hospital</span>
                                </h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam magni in at debitis <br> nam error officia vero tempora alias? Sunt?</p>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="static/images/resource/1.png" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                        <h6>Orthopedics</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="static/images/resource/2.png" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                        <h6>Diaginostic</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="static/images/resource/3.png" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                        <h6>Psycology</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="static/images/resource/4.png" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                        <h6>General Treatment</h6>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur ex sunt, est aspernatur at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End about section-->


        <!--footer-main-->
        <footer class="footer-main">
           
            <div class="footer-bottom">
                <div class="container clearfix">
                    <div class="copyright-text">
                        <p>&copy; Copyright 2018. All Rights Reserved by
                            <a href="#">Medic</a>
                        </p>
                    </div>
                    <ul class="footer-bottom-link">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!--End footer-main-->

    </div>
    <!--End pagewrapper-->


    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".header-top">
        <span class="icon fa fa-angle-up"></span>
    </div>

    <script src="{{url_for('static',filename='plugins/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='plugins/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='plugins/bootstrap-select.min.js')}}"></script>
    <!-- Slick Slider -->
    <script src="{{url_for('static',filename='plugins/slick/slick.min.js')}}"></script>
    <!-- FancyBox -->
    <script src="{{url_for('static',filename='plugins/fancybox/jquery.fancybox.min.js')}}"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script src="{{url_for('static',filename='plugins/google-map/gmap.js')}}"></script>

    <script src="{{url_for('static',filename='plugins/validate.js')}}"></script>
    <script src="{{url_for('static',filename='plugins/wow.js')}}"></script>
    <script src="{{url_for('static',filename='plugins/jquery-ui.js')}}"></script>
    <script src="{{url_for('static',filename='plugins/timePicker.js')}}"></script>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>

</body>

</html>